body {
	background-color: rgba(248, 200, 220, 1.5);
}

@font-face {
    font-family: "terminus";
    src: url('terminusttf-bold-4.47.0_121b4546bf5e2d519015835ec870178b-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.div1 {
	background-color: rgba(255, 182, 193, 1);
	border: groove 0.5px rgba(255, 182, 193, 1);
	border-radius: 20px;
	width: 900px;
	height: 350px;
	margin-right: 225px;
	margin-left: 155px;
	margin-top: 105px;
	font-family: "terminus";
	text-align: center;
	position: relative;
	display: flex;
	padding-left: 50px;
	padding-top: 50px;
	padding-right: 70px;
	color: white;
}
.div2 {
	position: absolute;
	bottom: 20px;
	left: 20px;
	font-size: 20px;
	color: white;

}
.div3 {
	position: absolute;
	bottom: 20px;
	left: 350px;
	font-size: 20px;
	color: white;
}
.div4 {
	position: absolute;
	bottom: 20px;
	left: 615px;
	font-size: 20px;
	color: white;
}
.div5 {
	text-align: center;
	position: relative;
	font-size: 22px;
	left: 15px;
	right-margin: 100px;
	color: white;
}
.img {
	padding: 30px 0px 0px 0px;
}
h1 {
	font-family: Times New Roman;
	text-align: center;
}
